<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<h1>Tag</h1>
<body onload="Game.start()">
	<script src="js/util.js" type="text/javascript"></script>
	<script src="js/player.js" type="text/javascript"></script>
	<script src="js/game.js" type="text/javascript"></script>
	<script src="lib/jquery.min.js"></script>
	<script src="lib/socket.io.js" type="text/javascript"></script>
	<canvas id="game"></canvas>
	<div>
		Press Space to use your power (There's a 2 second cooldown)
	</div>
<body>
</html>